.form-container {
	width: 500px;
	height: 300px;
	box-shadow: 0 0 10px #3A448B;
	border-radius: 20px;
	background: linear-gradient(to bottom, #232B61, #3A448B);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}

.form-title {
	font-size: 20px;
}

.form {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.submit-button {
	margin-top: 20px;
	width: 60%;
	height: 35px;
	border-radius: 10px;
	border: none;
	outline: none;
	color: white;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	background-color: #8088c5;
}
