.input-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
}

.input {
	width: 60%;
	line-height: 35px;
	border-radius: 10px;
	border: none;
	outline: none;
	color: black;
	font-size: 15px;
	padding-left: 0.5%;
}
